{% extends 'layout.html' %}
{% block head %}
<title>Home</title>
{%endblock%}
{%block body%}
<nav class="navbar navbar-expand-lg" style="background-color: #83A2FF;">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="/home">PWP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <form method="POST" action="/logout">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="mb-3"></div>
    <div class="mb-3"></div>
    {% for user in users %}
        <p class="fs-2">Selamat Datang,</p>
        <div class="container">
            <p class="fs-4 fw-bold">Nama : {{ user['nama'] }}</p>
            <p class="fs-4 fw-bold">Nim : {{ user['nim'] }}</p>
        </div>
    {% endfor %}
    </div>    
</div>

{%endblock%}